
/* time table*/
#timetable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#timetable td, #timetable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#timetable tr:nth-child(even){background-color: #f2f2f2;}

#timetable tr:hover {background-color: #ddd;}

#timetable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.main {
    
}




/* menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*about*/
p{
font-size: x-large;


}

/*grocery*/

