
nav {
            background-color: darkkhaki;
            color: teal;
}

img {
            height: 400px;
            width: 500px;
}

#winImg {
            height: 300px;
            width: 250px
}
 
.text-primary {
    color:fuchsia;
    
}

.center {
    text-align: center;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




